@{
    ViewData["Title"] = "Manager Page";
    Layout = "_ManagerLayout";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/root.css" rel="stylesheet" />
</head>
<body>

  
        <div class="col-md-10 text-center">

            <h1><strong>Trang quản trị</strong></h1>
        </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<style>
    body {
        background-image: url('/images/background_manager.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; /* hoặc contain nếu muốn vừa với màn hình */
        background-attachment: fixed;
    }
</style>
