@{
    ViewData["Title"] = "Statistical Page";
    Layout = "_ManagerLayout";
}

<div class="container-fluid">
    <div class="text-center">
        <h1>Trang thống kê/ Báo cáo</h1>
    </div>
</div>
