@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/root.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
@*     <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_SideBar")
        </div>

        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
 *@
    <div class="row full-height-row">
        <div class="col-md-3 sidebar">
            @await Html.PartialAsync("_SideBar")
        </div>
        <div class="col-md-9 main-content">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<style>
    body {
        background-image: url('/images/background_manager.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; /* hoặc contain nếu muốn vừa với màn hình */
        background-attachment: fixed;
    }
</style>
