@{
    ViewData["Title"] = "Manager_Electricity Page";
    Layout = "_ManagerLayout";
}

<div class="container-fluid">
    <div class="text-center">
        <h1>Trang quản lý bảo trì</h1>
    </div>
</div>
